<div class="container">
  <h1><%= @guardian %></h1>
  <p>You're on the <%= @platform %> platform!</p>

  <h1>Tower</h1>
  
  <% @ghosts_obtained.each do |ghost, has| %>
   <p><%= ghost.card_name %></p> 
   <% if has %>
      <p><b><%= ghost.card_name %> <%= has %></b></p>
    <% else %>
      <p><%= ghost.card_name %> <%= has  %></p>
    <% end %>
  <% end %>
</div>
