<div class="container">
  <div class="row">
    <div class="col-lg-2" style="padding-right: 5px">
      <h1> <%= @guardian %></h1>
      <p>You're on the <%= @platform %> platform!</p>
      </div>
      <div class="col-lg-2" style="padding-top: 25px">
	<div class="dropdown">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    Planets
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ghosts/<%= @platform %>/<%= @guardian %>/Tower">Tower</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ghosts/<%= @platform %>/<%= @guardian %>/Earth">Earth</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ghosts/<%= @platform %>/<%= @guardian %>/Moon">Moon</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ghosts/<%= @platform %>/<%= @guardian %>/Venus">Venus</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ghosts/<%= @platform %>/<%= @guardian %>/Mars">Mars</a></li>
	  </ul>
	</div>
      </div>
  </div>
  <% ["Tower", "Earth", "Moon", "Venus", "Mars"].each do |planet| %>
    <h1><%= planet %>  (<%= @ghosts_count[planet] %>/<%= @ghosts_obtained[planet].length %>)</h1>
    <div class="panel-group">
      <% @ghosts_obtained[planet].each do |ghost, has| %>
	<% if has %>
          <div class="panel panel-success">
	<% else %>
          <div class="panel panel-danger">
	<% end %>
          <div class="panel-heading">
	    <h3 class="panel-title">
	      <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordian" href="#panel<%= planet %><%= ghost.card_id %>">
		<%= ghost.card_name %>
	      </a>
	    </h3>
	  </div>
	  <div id="panel<%= planet %><%= ghost.card_id %>" class="panel-collapse collapse">
	    <div class="panel-body">
	      <p> Location: <%= ghost.location %> </p>
	      <p> Missions: <%= ghost.missions %> </p>
	      <p> Points: <%= ghost.points %> </p>
	    </div>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
     
</div>
