<div class="container">
  <h1><%= @guardian %></h1>
  <p>You're on the <%= @platform %> platform!</p>

  <% @ghosts_obtained.each do |planet, ghosts| %>
    <h1><%= planet %></h1>
    <% ghosts.each do |ghost, has| %>
      <% if has %>
        <p><b><%= ghost.card_name %></b><p>
      <% else %>
        <p><%= ghost.card_name %></p>
      <% end %>
    <% end %>
  <% end %>

</div>
